<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=backendtest;User ID=sa;Password=123456;TrustServerCertificate=True;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSetting>
		<add key="conex" value="Peter"/>s
		<add key="urlPostOrden" value="Parker"/>
		<add key="venueId" value="{name}.{lastname}"/>
	</appSetting>
</configuration>